BETTER_AUTH_SECRET= # TODO: pwgen 64 1 -s
BETTER_AUTH_URL=http://localhost:3000

KEYCLOAK_CLIENT_ID=pmty-member-site
KEYCLOAK_CLIENT_SECRET= # TODO
KEYCLOAK_ISSUER=https://sso.hcloud-pvl-test.paivola.net/realms/PVL/
