BETTER_AUTH_SECRET= # TODO: pwgen 64 1 -s
BETTER_AUTH_URL=http://localhost:3000

KEYCLOAK_CLIENT_ID=pmty-member-site
KEYCLOAK_CLIENT_SECRET= # TODO
KEYCLOAK_ISSUER=https://sso.hcloud-pvl-test.paivola.net/realms/PVL/

OPTIRE_API_URL=https://optire.hcloud-pvl-test.paivola.net/api/v3
OPTIRE_ASSOCIATION_ID=93c0ef14-44e2-4180-826f-c5541e93e751

OPTIRE_OIDC_TOKEN_URL=https://sso.hcloud-pvl-test.paivola.net/realms/PVL/protocol/openid-connect/token
OPTIRE_OIDC_CLIENT_ID=optire-association-pmty
OPTIRE_OIDC_CLIENT_SECRET= # TODO
